.row{
    display: flex;
}

.col{
    border:1px solid black;
    height: 20px;
    width: 30px;
    
}

.header{
    display:flex;
}

.header .col{
    font-weight: bold;
    background:black;
    color:white;
}

.header:hover{
    cursor: pointer;
}
